service cloud.firestore {
  match /databases/{database}/documents {
    match /players/{playerId}{
      allow read;
      allow write: if isLoggedIn && isOwner(playerId);
    }
  }
}

function isLoggedIn(){
	return request.auth != null;
}

function isOwner(uid){
	return request.auth.uid == uid;
}